.app-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;

    img {
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
    }
}